@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Fira+Sans:wght@400;500&family=Inter:wght@400;600;800&family=Montserrat:wght@400;700;800;900&family=Niconne&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --bg-color: #161616;
    --text-color: #fff;
    --second-text-color: rgba(22, 22, 22, 0.70);
    --footer-text-color: #B9B9B9;
    --primary-btn-color: #D00;

}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*top banar css start */
.top-banar {
    display: flex;
    border-radius: 30px;
    background-color: var(--bg-color);
}

.top-banar>* {
    flex-basis: 100%;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-left: 100px;
    padding-right: 50px;
}

.top-content h1 {
    color: var(--text-color);
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.top-content p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.primary-button {
    background-color: var(--primary-btn-color);
    display: inline-flex;
    padding: 16px 25px;
    border-radius: 5px;
}

.primary-button a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.btn-icon {
    font-size: 30px;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 60px;
    padding-right: 55px;
}

.top-image img {
    width: 581px;
}

/*top banar css end */
/*Group css start */
.Group-section {
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
    padding-top: 130px;
}

.left {
    width: 312px;
    height: 312px;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.info-box a {
    width: 252px;
    height: 64px;
    text-align: center;
    color: var(--bg-color);
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding-top: 20px;
    transition: all 0.5s;
}

.info-box a:hover {
    background-color: var(--primary-btn-color);
    color: #fff;
}

.right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.blogs {
    max-width: 270px;
    height: 362px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.blog-imag img {
    min-width: 100%;
    max-height: 200.24px;
    border-radius: 11.442px 11.442px 0px 0px;
    object-fit: cover;
}

.Transfer-button {
    margin-left: 20px;
    margin-top: 20px;

}

button {
    color: var(--bg-color);
    background-color: #fff;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    border: 1px solid #161616;
}

.blog-info p {
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
}

.blog-detail {
    margin-left: 20px;
    margin-top: 20px;
}

.blog-detail span {
    content: var(--second-text-color);
}

.icon {
    color: #161616CC;
    font-size: 20px;
}

#span {
    color: var(--second-text-color);
}

.blog-icon {
    display: flex;
    gap: 30px;
}

.time,
.massege {
    display: flex;
    align-items: center;
    gap: 10px;
}

.viwe-btn {
    text-align: center;
    padding-bottom: 60px;
    display: none;
}

.viwe-btn a {
    color: var(--text-color);
    background-color: var(--primary-btn-color);
    padding: 12px 29px;
    border-radius: 5px;
}

/*watch live css */
.match {
    width: 273px;
    height: 242px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    text-align: center;
}

.match-imag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 53px;
}

.match-imag img {
    width: 93.044px;
}

.match-imag span {
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 700;
}

.match-list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.club-name h5 {
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.match-info {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.721px;
    /* 123.259% */
}

/*watch live css end */

/*footer css */
footer {
    margin: auto;
    background-color: #161616;
    text-align: center;
}

footer h3 {
    padding-top: 130px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
}

footer hr {
    max-width: 1320px;
    height: 1px;
    color: rgba(255, 255, 255, 0.10);
    margin-bottom: 50px;
}

footer nav ul {
    list-style: none;
}

nav {
    margin-bottom: 50px;
}

footer nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

footer nav ul li a {
    color: var(--footer-text-color);
    font-weight: 500;
    transition: all 0.5s;
}

footer nav ul li a:hover {
    color: #D00;
}

.social-icons {
    font-size: 30px;
    padding: 30px;
}

.social-icons a {
    color: var(--text-color);
    margin-right: 5px;
}

/*resvonsive css teblet view */
@media only screen and (max-width: 992px) {
    .container {
        max-width: 85%;
    }

    .info-box {

        justify-content: space-between;
    }

    .top-banar .top-content {
        padding: 50px 10px 50px 60px;
    }

    .top-content h1 {
        font-size: 40px;
        line-height: 50px;
        /*width: 289px;*/
    }

    .top-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .top-image {
        padding-right: 0;
    }

    .Group-section {
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
        height: auto;
        background-color: var(--text-color);
    }

    .info-box {
        flex-direction: row;
    }

    .info-box a {
        border: 1px solid #E8E8E8;
    }

    .right {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        max-width: 347px;

    }

    .Group-section {
        margin-bottom: 62px
    }

    .viwe-btn {
        display: block;
    }

    footer h3 {
        padding-top: 70px;
    }
}

/*resvonsive css mobile view */

@media only screen and (max-width: 688px) {
    .container {
        max-width: 80%;
    }

    .top-banar {
        flex-direction: column;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px !important;
    }

    .top-content h1 {
        color: var(--text-color);
        text-align: center;
        font-size: 22px;
        line-height: normal;
    }

    .top-content p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .primary-button {
        padding: 8px 12px;
        margin-bottom: 21px;
    }

    .top-image {
        padding: 0px 25px !important;
    }

    .Group-section {
        flex-direction: column;
        padding-top: 20px;
    }

    .right {

        grid-template-columns: 1fr !important;
    }

    .info-box {
        flex-direction: column;
    }

    .info-box a {
        max-width: 100%;
    }

    footer h3 {
        font-size: 22px;
        padding-top: 30px;
    }

    footer nav ul {
        flex-direction: column;
    }
}